<div class="task_list">
	<div class="tasks">
		<div class="title">ToDo</div>
	</div>
	<div class="tasks">
		<div class="title">Doing</div>
	</div>
	<div class="tasks">
		<div class="title">Done</div>
	</div>
</div>
