<div class="task_list">
	<% ["ToDo", "Doing", "Done"].each do |state| %>
		<div class="tasks">
			<div class="title"><%= state %></div>
			<ul class="tasks">
				<% collection = @project.blank? ? 
					eval("Task.#{state.downcase.to_sym}.find(:all, :order => 'id desc')") :
					eval("@project.tasks.#{state.downcase.to_sym}.find(:all, :order => 'id desc')") %>
				<%= render :partial => '/tasks/task', :collection => collection %>
			</ul>
		</div>
	<% end %>
</div>
