<div class="task_list">
	<% ["ToDo", "Doing", "Done"].each do |state| %>
		<div class="tasks">
			<div class="title"><%= state %></div>
			<ul class="tasks">
				<%= render :partial => '/tasks/task', :collection => eval("Task.#{state.downcase.to_sym}") %>
			</ul>
		</div>
	<% end %>
</div>
