<div class="task_list">
	<% ["ToDo", "Doing", "Done"].each do |state| %>
		<div class="tasks">
			<div class="title"><%= state %></div>
			<ul class="tasks">
				<% unless @project.blank? %>
					<%= render :partial => '/tasks/task', :collection => eval("@project.tasks.#{state.downcase.to_sym}") %>
				<% else %>
					<%= render :partial => '/tasks/task', :collection => eval("Task.#{state.downcase.to_sym}") %>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>
