// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix {
  zoom:1;
  &:before, &:after {
    content:"\0020";
    display:block;
    height:0;
    overflow:hidden;
  }
  &:after {
    clear:both;
  }
}

$full_width:1280px;
$main_left_width:200px;
$label_width:80px; 
$text_field_width:120px;

a {
	text-decoration:none;
	color:#333;
}

#flash_messages {
	color:#aa0000;
	background:#ffd266;
	padding:0 5px;
	font-family:Dotum;
	font-weight:bold;
	font-size:12px;
}

#header {
	max-width:$full_width;
	border-left:5px solid red;
	margin:20px auto 0;
	font-family:Dotum;
	font-size:12px;
	padding:0 0 5px;
	border-bottom:3px solid #333;
	height:13px;
	.site_name {
		padding-left:5px;
		a {
			float:left;
			color:#333;
			font-weight:bold;
		}
	}
	.login_menu {
		float:right;
		a {
			margin-left:10px;
		}
	}
}

#section {
	border-left:5px solid #1e4152;
	@extend .clearfix;
	max-width:$full_width;
	margin:0 auto;
	font-family:Dotum;
	font-size:12px;
	color:#333;
	.main_area {
		.main_left {
			margin-right:30px;
			padding:5px;
			float:left;
			width:$main_left_width;
			h5 {
				margin:0;
				font-size:14px;
				font-weight:bold;
			}
			ul.projects {
				margin:10px 0;
				padding:0 0 0 20px;
				li.project {
					list-style:none;
					height:16px;
					margin:10px 0;
					font-weight:bold;
					.title {
						float:left;
						.selected {
							color:red;
						}
						a:hover {
							text-decoration:underline;
						}
					}
					.commands {
						a.command {
							float:right;
							font-size:10px;
							font-weight:bold;
							margin-left:3px;
							&.delete {
								color:red;
							}
							&.update {
								margin-right:10px;
								color:blue;
							}
						}
					}	
				}
			}
			.new_project {
				margin-top:30px;
			}
		}
		.main_center {
			padding:10px 0;
			float:left;
			.task_list {
				.tasks {
					width:290px;
					margin:0 5px;
					float:left;
					.title {
						background:#333;
						color:#fff;
						text-align:center;
						font-weight:bold;
						text-align:center;
						padding:10px 0;
					}
					ul.tasks {
						background:#ddd;
						margin:0;
						padding:0;
						li.task {
							position:relative;
							background:#fff;
							border:1px solid #aaa;
							-webkit-border-radius:10px;
							-moz-border-radius:10px;
							border-radius:10px;	
							height:65px;
							margin:3px;
							padding:5px;
							list-style:none;
							.assign {
								position:absolute;
								font-size:10px;
								top:1px;
								left:5px;
							}
							.content {
								padding-top:10px;
								font-weight:bold;
							}
							.created_at {
								position:absolute;
								right:5px;
								top:0;	
								text-align:right;
								font-size:10px;
							}
							.actions {
								position:absolute;
								&.left {
									left:5px;
								}
								right:5px;
								bottom:0;
								a {
									font-size:10px;
								}
							}
						}
					}
				}
			}
		}
	}
}

#footer {
	max-width:$full_width;
	margin:0 auto 150px;
	font-family:Dotum;
	font-size:12px;
	.logo {
		float:right;
		a {
			font-weight:bold;
			float:left;
			color:#333;
			margin-left:5px;
			&.red {
				color:red;
			}
		}
	}
  a#header_link {
    position:fixed;
    display:scroll;
    bottom:0;
    right:0;
    background:#fd9242;
    color:#000;
    font-weight:bold;
    font-size:12px;
    padding:5px 15px;
    text-decoration:none;
    border:1px solid #ec8131;
    opacity:0.7;
  }
}

.form_wrapper { 
	padding-left:5px;
  .field { 
    @extend .clearfix; 
    padding:5px 0; 
    line-height:150%; 
		&.left {
			float:left;
		}
    label { 
      float:left; 
      width:$label_width; 
      line-height:150%; 
      color:#666; 
    } 
    input { 
      font-size:12px; 
    } 
    select { 
      font-size:12px; 
    } 
    input.text { 
      float:left; 
			width:$text_field_width;
			border:1px solid #aaa;
    } 
		textarea {
			border:1px solid #aaa;
		}
  } 
  .actions { 
    input { 
			border:1px solid #333;
			background:#444;
			color:white;
      font-size:12px; 
    } 
  } 
	input {
		&.left_float_submit {
			float:left;
			border:1px solid #333;
			background:#444;
			color:white;
			font-size:12px; 
		}
	}
}

.new_task_wrapper {
	.project_title {
		a {
			padding:10px;
			font-size:17px;
			font-weight:bold;
		}
	}
}
